extends layout

block content
  h1= title
  p Welcome to #{title}
  each file in files
    .responsive
      .gallery
        a(href="/images/" + file, target="_blank")
          img(src="/image/" + file, alt='Cinque Terre', width='600', height='400')
